<h1><%= @msg %></h1>
<table>
    <%= form_for(@user, url:{controller:'people', action:'add'}) do |form| %>
    <tr><th>名前</th>
        <td><%= form.text_field :name %></td></tr>
    <tr><th>Mail</th>
        <td><%= form.text_field :email %></td></tr>
    <tr><th>Password</th>
        <td><%= form.password_field :password %></td></tr>
    </tr>
    <tr><th></th>
        <td><%= form.submit "Click" %></td></tr>
    <% end %>
</table>