<h1><%= @msg %></h1>
<table>
    <tr>
        <th>Name</th><th></th>
    </tr>

    <% @user.each do |obj| %>
    <tr>
        <td><a href="people/<%= obj.id %>"><%= obj.name %></a></td>
        <td><a href="people/edit/<%= obj.id %>">Edit</a></td>
        <td><a href="javascript:delDate(<%= obj.id %>);">Delete</a></td>
    </tr>
    <% end %>
    <tr>
        <td><a href="people/add">Add</a></td>
        <td><a href="people/login">Login</a></td>
    </tr>
<table>
<script>
    function delDate (num){
        if(confirm("このデータを削除しますか?")){
            document.location =  '/people/delete/' + num;
        }
        return false;
    }
</script>
</table>