<h1>Todo#add</h1>
<p><%= @msg %></p>
<table>
    <%= form_for(@tsk, url:{controler:'todo', action:'add'}) do |form| %>
    <tr><th>タスク内容</th>
        <td><%= form.text_field :content %></td></tr>
    <tr><th>担当ユーザー</th>
        <td><%= form.text_field :charger %></td></tr>
    <tr><th>作成ユーザー</th>
        <td><%= form.text_field :creater %></td></tr>
    <tr><th>状態</th>
        <!--<td><%= select_tag('status', options_for_select(["ToDo", "Doing", "Done"])) %></td></tr>-->
        <td><%= form.text_field :status %></td></tr>
    <tr><th>期限</th>
        <td><%= form.text_field :limit %></td></tr>
    </tr>
    <tr><th></th>
        <td><%= form.submit "Click" %></td></tr>
    <% end %>
</table>