<h1><%= @msg %></h1>
<table>
    <% todo = Array.new(Task.count) %>
    <% num = 0 %>

    <% @tsk.each do |obj| %>
    <% todo[num]=obj.limit %>
    <% num+=1 %>
    <% end %>

    <!--ここからバブルソート-->
    <% for i in 1..num do %>
        <% for j in 1..(num-i) %>
            <% if todo[j-1]<todo[j] then %>
                <% t = todo[j] %>
                <% todo[j] = todo[j-1] %>
                <% todo[j-1] = t %>
            <% end %>
        <% end %>
    <% end %>

    <tr>
        <th>状態</th><th>内容</th><th></th>
    </tr>

    <% @tsk.each do |obj| %>
    <% for i in 0..num do %>
        <% if todo[num-i]==obj.limit then %>
            <td><%= obj.status %></td>
            <td><a href="todo/<%= obj.id %>"><%= obj.content %></a></td>
            <td><a href="todo/edit/<%= obj.id %>">Edit</a></td>
            <td><a href="javascript:delDate(<%= obj.id %>);">Delete</a></td>
            <td><%= obj.limit %></td>
            </tr>
            <% todo[num-i] %>
        <% end %>
    <% end %>
    <% end %>
    <tr>
        <td><a href="todo/add">Add</a></td>
    </tr>
<table>
<script>
    function delDate (num){
        if(confirm("このデータを削除しますか?")){
            document.location =  '/todo/delete/' + num;
        }
        return false;
    }
</script>
</table>